body {
    background-color: beige;
    font-family: sans-serif;
    padding: 10px 25px;
}
h1, h2 {
    text-align: center;
}
table {
    margin: auto auto;
}
td {
    border: 1px solid black;
}
ul {
    text-align: center;
    margin: 25px auto;
    list-style: none;
}
input, button {
    margin-bottom: 12px;
}
#controls {
    text-align: center;
}
.alive {
    background-color: black;
}
.dead {
    background-color: white;
}